html{background:rgb(30,30,30);}
.navbar{background:rgb(240,240,240) none;}
a.brand{color:rgb(241,90,34);font-weight:bold;}
a.brand:hover{color:rgb(0,142,176);}
a{color:rgb(0,142,176);text-decoration: none;}
a:hover{color:red;}

.btn-large [class^="icon-"], .btn-large [class*=" icon-"] {
    margin-top: 8px;
}